
@font-face {
    font-family: 'Droid Arabic Kufi';
    font-weight: bold;
    src: url('Droid Arabic Kufi Bold.TTF') format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-weight: normal;
    src: url('Droid Arabic Kufi.TTF') format('truetype');
}






