@font-face {
    font-family: 'Shin';
    src: url('eot/Shin.eot');
    src: url('eot/Shind41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Shin.woff2') format('woff2'),
    url('woff/Shin.woff') format('woff'),
    url('ttf/Shin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}